<% cancel_path ||= waitlist_entry.persisted? ? [:account, waitlist_entry] : [:account, @access_pass, :waitlist_entries] %>

<%= form_with model: waitlist_entry, url: (waitlist_entry.persisted? ? [:account, waitlist_entry] : [:account, @access_pass, :waitlist_entries]), class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: cancel_path do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>
      <%= render 'shared/fields/email_field', method: :email, options: {autofocus: true} %>
      <%= render 'shared/fields/text_field', method: :first_name %>
      <%= render 'shared/fields/text_field', method: :last_name %>
      <%= render 'shared/fields/text_area', method: :answers %>
      <%= render 'shared/fields/options', method: :status %>
      <%= render 'shared/fields/text_area', method: :notes %>
      <%= render 'shared/fields/date_and_time_field', method: :approved_at %>
      <%= render 'shared/fields/date_and_time_field', method: :rejected_at %>
      <%# 🚅 super scaffolding will insert new fields above this line. %>
    <% end %>

    <div class="buttons">
      <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
      <%= link_to t('global.buttons.cancel'), cancel_path, class: "button-secondary" %>
    </div>
  <% end %>
<% end %>
